# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
.venv/

# VS Code
.vscode/

# PyCharm / JetBrains
.idea/

# macOS
.DS_Store

# Env files
.env
*.env

# Migrations
alembic/versions/*.py

# SQLite 
*.sqlite3
*.db

# Logs
*.log

# Coverage / testing
htmlcov/
.coverage
.cache/
pytest_cache/
nosetests.xml
coverage.xml
*.cover
.tox/

# MyPy / Pyright
.mypy_cache/
.pyright/

# Build
build/
dist/
*.egg-info/
